* {
    font-family: 'Montserrat', sans-serif;
    color: #F0FFFF;
}
body {
    background-image: url("images/background1.jpg");
}

#introimg {
    height: 300px;
    width: 200px;
}

#fampic1 {
    height: 200px;
    width: 300px;
}

#fampic2 {
    height: 200px;
    width: 300px;
}

#fratfounders {
    height: 300px;
    width: 300px;
}

#fratpham {
    height: 300px;
    width: 400px;
}

ul li {
    padding: 10px 10px;
    margin: 0 auto;
}

h1, h2 {
    text-decoration: underline;
}